.dashboard-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  width: 89%;
  max-width: 833px;
  margin: auto; 

  .text-center{
    text-align: center;
  }

  .dashboard-infos-wrap {
    .dashboard-card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      position: relative;
      z-index: 2;

      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        background: rgba(62, 58, 113, 0.5);
        backdrop-filter: blur(100px);
      }

      /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
      @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: #3E3A71;
      }

      border-radius: 10px;
      padding: 13px 0;

      .card-title {
        font-family: Montserrat Medium;
        font-weight: 500;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.6);
      }

      .card-value {
        font-family: Montserrat Bold;
        font-weight: bold;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
}
