.swap-view {
  width: 89%;
  max-width: 833px;
  margin: auto;

  

  .swap-card {
    position: relative;
    z-index: 2;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      background: rgb(62, 58, 113, 0.646);
      backdrop-filter: blur(40px);
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: #3E3A71;
    }

    border-radius: 10px;
    padding: 20px;
    width: 100%;

    .swap-card-grid {
      margin: 0;
      width: 100%;
    }

    .swap-card-header {
      .swap-card-header-title {
        font-family: Montserrat Bold;
        font-weight: bold;
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 4px;
      }
    }

    .swap-card-metrics {
      display: flex;
      width: 100%;
      padding: 0;
      text-align: center;
      margin-top: 10px;

      .swap-card-apy,
      .swap-card-tvl,
      .swap-card-index {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .swap-card-metrics-title {
          font-family: Montserrat Medium;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: rgba(255, 255, 255, 0.6);
          margin-bottom: 2px;
        }

        .swap-card-metrics-value {
          font-family: Montserrat Bold;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
        }
      }
    }

    .swap-card-area {
      .swap-card-wallet-notification {
        text-align: center;

        .swap-card-wallet-connect-btn {
          background: rgba(132, 41, 189, 0.596);
          box-shadow: 0px 0px 10px rgba(61, 53, 165, 0.1);
          border-radius: 10px;
          padding: 14px 58px;
          cursor: pointer;
          margin: auto;
          max-width: 280px;
          margin-top: 20px;

          p {
            font-family: Montserrat SemiBold;
            font-weight: 600;
            font-size: 18px;
            color: #ffffff;
          }
        }

        .swap-card-wallet-desc-text {
          font-family: Montserrat Light;
          font-weight: 300;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.6);
          margin-top: 10px;
          margin-bottom: 6px;
        }
      }

      .swap-card-action-area {
        width: 100%;
        margin-top: 25px;

        .swap-card-action-stage-btns-wrap {
          display: flex;
          align-items: center;
          justify-content: center;

          .swap-card-action-stage-btn {
            margin: 0px 30px;
            padding: 6px;
            cursor: pointer;
            transition: all 0.4s ease;

            p {
              font-family: Montserrat SemiBold;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              color: rgba(255, 255, 255, 0.6);
            }
          }

          .swap-card-action-stage-btn.active {
            p {
              color: #ffffff;
            }

            border-bottom: 1px solid #ffffff;
          }
        }

        .swap-card-action-row {
          display: flex;
          align-items: center;
          margin-top: 20px;

          .swap-card-action-input {
            width: 100%;

            background: rgba(103, 43, 138, 0.2);
            border: 1px solid #2BA9AE;
            border-radius: 10px;
            outline: none;

            .MuiOutlinedInput-input {
              font-family: Montserrat Medium;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              color: rgba(255, 255, 255, 0.6);
              padding: 14px 20px;
            }

            .MuiOutlinedInput-notchedOutline {
              border-color: rgba(255, 255, 255, 0.2) !important;
            }

            .swap-card-action-input-btn {
              cursor: pointer;

              p {
                font-family: Montserrat SemiBold;
                font-weight: 600;
                font-size: 18px;
                color: #ffffff;
              }
            }
          }

          .swap-card-tab-panel {
            min-width: 215px;
            margin-left: 10px;

            .swap-card-tab-panel-btn {
              background: #2BA9AE;
              box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
              border-radius: 10px;
              padding: 14px 0px;
              cursor: pointer;
              text-align: center;

              p {
                font-family: Montserrat SemiBold;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: #ffffff;
              }
            }
          }
        }

        .swap-card-action-help-text {
          margin-top: 10px;

          p {
            font-family: Montserrat Light;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }

      .swap-user-data {
        justify-content: center;
        margin: auto;
        padding: 0 5px;
        margin-top: 30px;

        .swap-card-action-help-text {
          margin-top: 10px;

          p {
            font-family: Montserrat Light;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  font-family: Montserrat SemiBold;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      text-align: center;

  .tooltip-item {
    text-decoration: none;
    padding: 13px 20px;

  }
}

.data-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;

  .data-row-name {
    font-family: Montserrat Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }
  .data-row-value {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;


    .claim-btn {
      background: #2BA9AE;
      box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
      border-radius: 10px;
      padding: 4px 4px;
      cursor: pointer;
      text-align: center;

      p {
        font-family: Montserrat SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        color: #ffffff;
      }
    }

    .forfeit-btn {
      background: #d21a1a;
      box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
      border-radius: 10px;
      padding: 4px 4px;
      cursor: pointer;
      text-align: center;

      p {
        font-family: Montserrat SemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .swap-view {
    .swap-card {
      .swap-card-metrics {
        .swap-card-apy,
        .swap-card-tvl,
        .swap-card-index {
          align-items: flex-start;
        }

        .swap-card {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .swap-card-area {
        .swap-card-action-area {
          .swap-card-action-row {
            flex-direction: column;
            .swap-card-tab-panel {
              margin-left: 0;
              margin-top: 20px;
              min-width: none;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .swap-view {
    width: 100%;
  }
}
